Package: com.techieben.itssssdiscotime
Name: itssssdiscotime
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: techieben
Author: techieben
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
